@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="admin-bar-center">
        <div class="admin-bar">
            <span class="badge-admin">ADMIN</span>

            <div class="admin-actions">
                <a class="btn btn-outline-danger" href="/Products/Create">
                    + Добави продукт
                </a>

                <a class="btn btn-outline-danger" href="/Galleries/Create">
                    + Добави снимка
                </a>

                <a class="btn btn-outline-dark" href="/Orders">
                    Заявки
                </a>
            </div>
        </div>
    </div>
}

