@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="admin-bar-center">
        <div class="admin-bar fade-up">
            <span class="badge-admin">ADMIN PANEL</span>

            <div class="admin-actions">
                <a class="btn btn-dark btn-sm" asp-controller="AdminOrders" asp-action="Index">
                    <i class="fas fa-box-open me-1"></i> Поръчки
                </a>

                @if (ViewBag.AdminButtons != null)
                {
                    @Html.Raw(ViewBag.AdminButtons)
                }
            </div>
        </div>
    </div>
}